XML (Old)/ModelosInfoReply.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT ServicioTecnicoMoviles (head)>
	<!ELEMENT head (action)>
		<!ELEMENT action (#PCDATA)>
	<!ELEMENT body (marca_id, modelos)>
        <!ELEMENT marca_id (#PCDATA)>
		<!ELEMENT modelos (modelo*)>
			<!ELEMENT modelo (#PCDATA)>
				<!ATTLIST modelo id CDATA #REQUIRED>
