XML/OrdenRequestReply.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT ServicioTecnicoMoviles (head, body)>
	<!ELEMENT head (action)>
		<!ELEMENT action (#PCDATA)>
	<!ELEMENT body (orden_id, response)>
		<!ELEMENT orden_id (#PCDATA)>
		<!ELEMENT response (#PCDATA)>
			<!ATTLIST responde accepted (true|false) #REQUIRED>
		
