XML/ReparacionInfoReply.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT ServicioTecnicoMoviles (head)>
	<!ELEMENT head (action)>
		<!ELEMENT action (#PCDATA)>
	<!ELEMENT body (modelo_id, reparaciones)>
        <!ELEMENT modelo_id (#PCDATA)>
		<!ELEMENT reparaciones (reparacion*)>
			<!ELEMENT reparacion (nombre, tiempo, coste)>
				<!ATTLIST reparacion id CDATA #REQUIRED>
				<!ELEMENT nombre (#PCDATA)>
				<!ELEMENT tiempo (#PCDATA)>
				<!ELEMENT coste (#PCDATA)>
